.apresentacao picture{
  display:block;
  width:100%;
  background:#FFFFFF;
}
.apresentacao picture img{
  width:100%;
}

.menu-float{
  width:78%;
  position:fixed;
  top:5%;
  left: 50%;
  transform: translateX(-35%);
}
.menu{
  width:75%;
  display:flex;
  gap:10%;
  justify-content:space-around;
  padding:2% 0.5%;
  border-radius:12px;
  background: rgba(1, 1, 1, 0.3);
}
.menu img{
  width:7%;
}
.menu ul{
  display:flex;
  justify-content: center;
  align-items:center;
  list-style:none;
  gap:4%;
  font-family:sans-serif;
}
.menu ul li{
  font-size:1vw;
  border:1px solid rgba(1, 1, 1, 0.2);
  border-radius:10px;
  padding:3% 2%;
  color:#29261d;
  transition: border 1s ease-in-out;
}
.menu ul li:hover{
  border:1px solid #ffffff;
}
.menu button{
 padding:1% 4%;
 border-radius:12px;
 font-family:sans-serif;
}

@media (max-width:1100px){
  .menu{
    display:none;
  }
}