.section_holistica{
  width: 100%;
  display: flex;
  align-items: center;
  margin:15% auto 0;
}
.texto-holistica{
  width: 70%;
  margin: 11% 5% 5% 5%;
}
h2{
  margin-bottom:3%;
}
h3{
  margin-bottom:3%;
}


  @media (max-width: 1100px){
  .section_holistica{
    display:flex;
    flex-direction:column;
  }
  .imagem-holistica{
    order:1
  }
  .texto-holistica{
    width:95%;
    order:2;
    text-align:center;
  }
  .texto-experimente h2,
  .texto-experimente h3,
  .texto-experimente p{
    width:89%;
    margin: 0 auto 5%;
  }
  .texto-experimente p{
    margin-bottom:10%
  }
}
