.section_tecnicas{
  overflow-x: hidden;
  margin:15% auto 0;
}
.section_tecnicas h2{
  width:72%;
  margin:0 auto 5%;
  text-align: center;
}
.owl-carousel.owl-loaded{
  display: block;
  margin-left: 7%;
}
.owl-carousel.owl-loaded picture img{
  width:80%;
}
.owl-carousel.owl-loaded .owl-nav{
  margin: 5% auto 0 -12%;
  text-align: center;
}

.owl-carousel.owl-loaded .owl-nav .owl-prev{
  margin-right: 10%;
}
