.section_tecnicas{
  overflow-x: hidden;
  margin:15% auto 0;
}
.section_tecnicas h2{
  width:72%;
  margin:0 auto 5%;
  text-align: center;
}
.owl-carousel.owl-loaded{
  display: block;
  margin-left: 7%;
}
.owl-carousel.owl-loaded picture img{
  width:80%;
}
.owl-carousel.owl-loaded .owl-nav{
  margin: 5% auto 0 -12%;
  text-align: center;
  display:flex;
  justify-content:center;
  align-items:center;
}

.owl-carousel.owl-loaded .owl-nav .owl-prev{
  margin-right: 10%;

}


.owl-carousel.owl-loaded .owl-nav .owl-next{
  width:50px;
  height:50px;
  border:1px solid transparent;
  border-radius:50%; 
  transition:all 0.5s
}
.owl-carousel.owl-loaded .owl-nav .owl-prev{
  width:50px;
  height:50px;
  border:1px solid transparent;
  border-radius:50%; 
  transition:all 0.5s
}
.owl-carousel.owl-loaded .owl-nav .owl-next:hover{
    border:1px solid #333;
}
.owl-carousel.owl-loaded .owl-nav .owl-prev:hover{
    border:1px solid #333;
}



@media (max-width: 1100px){
  .section_tecnicas h2{
    width:89%;
    margin-bottom:10%
  }

   .owl-carousel.owl-loaded .owl-nav{
        margin: 10% auto 0 -12%;
  }
}