.section_beneficios{
  width: 100%;
  display: flex;
  align-items: center;
  margin:15% auto 0;
}
ul li{
  margin-bottom:2%;
}
ul li .material-symbols-outlined{
  margin-right:4%
}

.section_beneficios .texto-holistica{
  width: 50%;
}


  @media (max-width: 1100px){
  .section_beneficios{
    display:flex;
    flex-direction:column;
  }
  .imagem-holistica{
    order:1
  }
  .section_beneficios .texto-holistica h2{
    text-align:center
  }
  .section_beneficios .texto-holistica{
    width:95%;
    order:2;
    text-align:left;
  }
}
