.section_experimente{
    width: 100%;
    display: flex;
    align-items: center;
    margin:15% 0 10%;
  }

.texto-experimente{
  width: 50%;
  margin-left:5%;
}
.button-cta a{
  color:#FFFFFF;
  font-size:1.4em;
}
.button-cta{
  padding:5% 7%;
  background:#29261d;
  border-radius:999px;
  margin-top:5%;
}


  @media (max-width: 1100px){
  .section_experimente{
    display:flex;
    flex-direction:column;
  }
  .imagem-holistica{
    order:1
  }
  .texto-experimente{
    width:95%;
    order:2;
    text-align:center;
    margin:0 auto;
  }
  .button-cta{
    font-size:0.6em;
    padding:4% 4%;
  }
}